// variables for the first section
$primaryColor: #3E9CDC;
$borderColor: #286690;
$sectionBackground: #272733;
$footerBacground: #3D4050;
$buttonBorderColor: #6F6D7B;
$mainSectionInactiveButtonColor: #FFFFFF;
$mainSectionActiveButtonBorder: 1px solid #FFFFFF;
$mainSectionInactiveButtonBorder: 1px solid #6F6D7B;

// variables for the second section
$sectionBackground: #272733;
$titleFontColor: #FFFFFF;
$subtitleFontColor: #BBBBBB;
$commonFontColor: #FFFFFF;
$blueThemeBackground: #3E9CDC;
$blueThemeBorderColor: #286690;
$shemeItemBorder: 5px solid $blueThemeBorderColor;
$dropdownMenuItemColor: #42A9ED;

/* Header variables */

/* Header Colors */
$headerBackground: rgba(16, 16, 29, 0.9);
$headerActiveNavigationLinkColor: #43ABF0;
$headerInactiveNavLink: #FFFFFF;

/* Fonts */
$headerFontFamily: 'Lato';
$headerFontStyle: normal;
$headerFontWeight: 600;
$headerFontSize: 13px;
$headerFontLineHeight: 16px;
