@import 'blueTheme';

option {
    width: 370px;
    height: 48px;
}

.orderSection {
    height: 920px;
    width: 100%;
    background-color: $sectionBackground;
    background-image: url(../images/content_background.png);
    display: flex;
    justify-content: center;
    align-items: center;
    .orderSection__wrapper {
        height: 650px;
        width: 61%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        .orderSection__title {
            font-family: 'Lato';
            font-style: normal;
            font-weight: 800;
            font-size: 36px;
            line-height: 43px;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            margin-top: -15px;
            color: $titleFontColor;

            & .boldText {
              margin-top: 0px;
              color: #3E9CDC;
          }
        }

        .orderSection__subtitle {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            display: flex;
            align-items: center;
            margin-top: 25px;
            color: $subtitleFontColor;
            letter-spacing: 1px;
        }
        .orderSection__sheme {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-top: 78px;
            .orderSection__shemeItem {
                width:209px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                
                transition: 1s;

                .orderSection__shemeItem:hover {
                  transform: scale(1);
                }

                .orderSection__shemeImage {
                    width:100px;
                    height:100px;
                    border-radius: 50px;
                    background-color: $blueThemeBackground;
                    border: $shemeItemBorder;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .orderSection__shemeText {
                    font-family: 'Lato';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    text-align: center;
                    margin-top: 23px;
                    color: $commonFontColor;
                    text-align: center;
                }
            }
    
            .orderSection__separator {
                margin-left: -50px;
                margin-right: -50px;
                margin-top: -48px;
            }
        }
        .orderSection__inputWrapper {
            display: flex;
            width: 102%;
            justify-content: space-between;
            margin-top: 90px;

            

        }
    
        .orderSection__fileWrapper {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            .orderSection__slider {
                width: 770px;
                height: 64px;
                margin-top: 30px;
                .orderSection__sliderText {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: inherit;
                    .orderSection__sliderTitle {
                        font-family: 'Lato';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 22px;
                        letter-spacing: 0.7px;
                        color: $commonFontColor;
                    }
                    .orderSection__sliderPercent {
                        font-family: 'Lato';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 22px;

                        color: $commonFontColor;
                    }
                }
                .orderSection__sliderBar {
                    background-color: #fff;
                    height: 7px;
                    display: flex;
                    align-items: center;
                    position: relative;
                    border-radius: 6px;
                    margin-top: 18px;
                    .orderSection__sliderThumb {
                        position: relative;
                        width: 25px;
                        height: 25px;
                        background-color: $blueThemeBackground;
                        border: 3px solid $blueThemeBorderColor;
                        border-radius: 18px;
                        margin-left: 84%;
                    }
                }
            }
            .orderSection__addFileButton {
                width: 370px;
                height: 48px;
                background: #FFFFFF;
                border: 2px solid $blueThemeBackground;
                border-radius: 3px;
                margin-top: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                .orderSection__addFileText {
                    font-family: 'Lato';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 15px;
                    line-height: 18px;
                    display: flex;
                    align-items: center;
                    text-transform: uppercase;

                    color: #272733;
                }
            }
                            
            .orderSection__addFileButton:hover {
              background-color:  $blueThemeBackground;
              color: $commonFontColor;
            }
        }
        
        .orderSection__submitButton_active {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 15px 10px;
            gap: 10px;
            width: 370px;
            height: 48px;
            margin-top: 40px;

            background: $blueThemeBackground;
            border: 1px solid #FFFFFF;
            border-radius: 4px;
            cursor: pointer;

            .orderSection__submitButtonText {
                font-family: 'Lato';
                font-style: normal;
                font-weight: 600;
                font-size: 15px;
                line-height: 18px;
                display: flex;
                align-items: center;
                text-align: center;
                text-transform: uppercase;

                color: $commonFontColor;
            }
        }
        .orderSection__submitButton_active:hover {
          background-color: $blueThemeBorderColor;
          border: 1px solid $blueThemeBorderColor;
        }
    }
}
  
  .orderSection__Input {
    position: relative;
    width: 31%;
    height: 48px;
    margin: 0 auto;
    background-color: #fff;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    padding: 0 12px;

  
    &[data-state="active"] {
        background: rgba(61, 64, 80, 0.85);
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        display: flex;
        align-items: center;

        color: $commonFontColor;
      .orderSection__InputTitle {
        &::before {
          transform: translate(-3px, -50%) rotate(-45deg);
        }
  
        &::after {
          transform: translate(3px, -50%) rotate(45deg);
        }
      }
      
      .orderSection__InputContent {
        opacity: 1;
        background: rgba(39, 39, 51, 0.9);
        border: 1px solid #3D4050;
        border-radius: 3px;
        z-index: 8;
      }
      
      .orderSection__ItemLabel + .orderSection__InputItem + .orderSection__ItemLabel {
        max-height: 48px;
        border-top-width: 1px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        display: flex;
        align-items: center;

        color: $commonFontColor;
      }
    }
  }
  .orderSection__InputTitle {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 8px 0;
  
    border-radius: 5px;
    
    cursor: pointer;
  
    &::before,
    &::after {
      content: "";
  
      position: absolute;
      top: 50%;
      right: 16px;
  
      display: block;
      width: 10px;
      height: 2px;
  
      transition: all 0.3s ease-out;
  
      background-color: #333333;
  
      transform: translate(-3px, -50%) rotate(45deg);
    }
    &::after {
      transform: translate(3px, -50%) rotate(-45deg);
    }
  
    &:hover {
      border-color: $blueThemeBackground;
  
      &::before,
      &::after {
        background-color: $blueThemeBackground;
      }
    }
  }
  .orderSection__InputContent {
    position: absolute;
    top: 48px;
    left: 0px;
    flex-direction: column;
    width: 100%;
    height: calc(48px*5);
    overflow-y: scroll;
    background-color: #ffffff;
    scrollbar-color: $blueThemeBackground #3D4050;
    scrollbar-width: thin;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
    transition: all 0.3s ease-out;
  
    opacity: 0;
    z-index: 0;
  }

  

  .orderSection__InputItem {
    display: none;
  
    &:checked + label {
      color: $dropdownMenuItemColor !important;
    }
  }
  .orderSection__ItemLabel {
    display: flex;
    align-items: center;
    width: 100%;
    height: 48px;
    max-height: 0;
    padding: 0 16px;
    
    transition: all 0.2s ease-out;
  
    cursor: pointer;
    
    overflow: hidden;
    
    &:hover {
      background-color: $blueThemeBackground !important;
  
      color: $commonFontColor;
    }
  }

  .orderSection__InputContent::-webkit-scrollbar-button {
    display: none;
  }

  .orderSection__InputContent::-webkit-scrollbar-track {
    background-color: #3D4050;
  }

  .orderSection__InputContent::-webkit-scrollbar-track {border-radius: 3px;}
.orderSection__InputContent::-webkit-scrollbar {width: 6px;}
.orderSection__InputContent::-webkit-scrollbar-thumb {border-radius: 3px;background: $blueThemeBackground;}
.orderSection__InputContent:hover::-webkit-scrollbar-thumb {background: $dropdownMenuItemColor;}

.orderSection__shemeSliderContainer {
    width: 150px;
    display: flex;
    overflow: hidden;
}

.hidden {
  display: none;
}

.scaled {
  transition: 1s !important;
  transform: scale(1) !important;
}